@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Sankofa+Display&display=swap');

.sankofa-display-regular {
    font-family: "Sankofa Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.jacquard-12-regular {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

